/* Add mobile styles for the component here.  */


.content-row {
    padding: 10;
}

.card {
    background-color: white;
    border-radius: 10;
    orientation: vertical;
    width: 100%;
    min-height: 100;
    padding: 10;
    border-bottom-width: 0.25;
    border-right-width: 0.25;
    border-left-width: 0.1;
    border-color: lightgray;
}

.card Label {
    font-size: 40;

}